{% extends 'partials/site.html' %}
{% block site_content %}
<div class="container">
    <h1>Recipe Details</h1>
    <div class="items-container">
        <div class="item">
            <h2>{{ recipe.title }}</h2>
            <img class="detail-img" src="{{ recipe.image_url }}" alt="recipe-image">
            <div class="time">
                <img src="/static/images/clock.png">
                <p>{{ recipe.time }}min</p>
            </div>
            <h3>Ingredients</h3>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
            <h3>How to prepare?</h3>
            <div class="recipe-info-full">
                {{ recipe.description }}
            </div>
            <div class="buttons-container">
                <a class="button edit" href={% url 'recipe edit' recipe.id %}>Edit</a>
                <a class="button delete" href={% url 'recipe delete' recipe.id %}>Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}