@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: #12869b;
}

nav ul {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #f1f1e8;
}

nav ul li,
nav ul img,
nav ul li a {
    list-style: none;
    text-decoration: none;
    color: #f1f1e8;
    padding: 5px;
}

nav ul img {
    width: 40px;
    height: auto;
}

nav ul li.title {
    font-size: 25px;
}

h1,
h2 {
    text-align: center;
}

div.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    color: #f1f1e8;
}

div.item {
    width: 50%;
    background: #12869b;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    -moz-box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
    box-shadow: -1px 29px 73px 18px rgba(174, 181, 175, 1);
}

div.item h2 {
    text-align: center;
}

div.item img.detail-img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.item div.time {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item div.time img {
    width: 32px;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
}

div.recipe-info {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.buttons-container {
    display: block;
    float: right;
    margin: 10px;
}

div.buttons-container .button,
input[type="submit"] {
    padding: 10px;
    width: 100px;
    font-size: 14px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

div.buttons-container .button:hover,
input[type="submit"] {
    cursor: pointer;
}

div.buttons-container .button.edit,
input[type="submit"] {
    background: #d38226;
}

div.buttons-container .button.edit:hover,
input[type="submit"]:hover {
    background: #e78f2a;
}

div.buttons-container .button.detail {
    background: #496d95;
}

div.buttons-container .button.detail:hover {
    background: #5780af;
}

div.buttons-container .button.delete {
    background: #c52f2f;
}

div.buttons-container .button.delete:hover {
    background: #d63333;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

form label {
    font-size: 18px;
    text-align: center;
    margin: 5px;
}

form input,
textarea {
    padding: 7px;
    border: 2px solid #f1f1e8;
    border-radius: 2px;
    width: 50%;
    display: block;
    margin: 0 auto;
}

form input[type="submit"] {
    margin-top: 15px;
    width: 25%;
}